<div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
</div>


<div class="container">
    {% for listing in auction_listings %}
        <div class="row"><a href="{% url 'listing' listing.pk %}">{{ listing.title }}</a></div>
        <div class="row">
            <div class="col">
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="300">
                {% else %}
                    <img src="../static/auctions/no-image-available.jpg" alt="{{ listing.title }}" width="300">
                {% endif %}
            </div>
            <div class="col">
                <div class="row">Published: {{ listing.timestamp }}</div>
                <div class="row"><span>{{ listing.description }}</span></div>
            </div>
        </div>
    {% endfor %}
</div>


